# Adobe Launch
ADOBE_CLIENT_ID=
ADOBE_CLIENT_SECRET=
ADOBE_LAUNCH_COMPANY_ID=
ADOBE_ORG_ID=
ADOBE_LAUNCH_PROPERTY_ID=
ADOBE_IO_SCOPES=openid,AdobeID,target_sdk,additional_info.projectedProductContext,read_organizations,additional_info.roles,additional_info.job_function
ADOBE_LAUNCH_ACCESS_TOKEN=
ADOBE_TECHNICAL_ACCOUNT_ID=


# Google Tag Manager
GTM_ACCOUNT_ID=your_account_id
GTM_CONTAINER_ID=your_container_id
GTM_AUTH_TOKEN=your_oauth_token